body {
    text-align: center;
    color: aliceblue;
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    background-image: url("table.png.jpg");
    background-size: cover;}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

#start-btn, #newCard-btn {
    background: goldenrod;
    color: #016f32;
    width: 300px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 4px;
    font-size: x-large;
}